
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto";
    background-color: #f5f5f5;
    
}
.barra-menu{
    background-color: red;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.lista-opciones{
    list-style-type: none;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}
@media (max-width:390px){
    .lista-opciones{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .barra-menu{
        display: flex;
        height: auto;
        align-items: center;
    }
    .logo{
        height: 30px;
        margin: auto;
        
    }
}

.item-lista{
    float: left;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
}
.link{
    color: #f5f5f5;
}
.link:hover{
    color: black;
}

.logo{
    margin: 10px 10px;
    float: left;
}
.faq{
    padding: 32px;
   margin: 0 auto;
   min-width: 390px;
}
.faq > h2{
    font-size: 38px;
    margin: 0;
    font-weight: 700;
    padding: 32px;
    text-align: center;
}
a:link{
    text-decoration: none;
}
.faq-list{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.faq-item{
    margin-top: 20px;
    color: black;
}
.faq-item:target{
    background-color: whitesmoke;
    border: 2px solid red;
    
}
.faq-item-title{
    margin: 0;
    font-size:20px;
    font-weight: 400;   
}
.faq-item-title > a:visited{
    color: black;
}
.faq-item-title::before{
    content: ">";
    color: red;
    font-size: 20px;
    font-family: "Roboto Mono";
}
.faq-item-text{
    display: none;
}
.faq-item:target .faq-item-text{
    display: inherit;
}